.u-section-1 .u-sheet-1 {
  min-height: 1000px;
}

.u-section-1 .u-form-1 {
  height: 1406px;
  background-image: none;
  margin: 30px 40px 0 30px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-form-group-10 {
  margin-left: 0;
}

.u-section-1 .u-form-group-11 {
  margin-left: 0;
}

.u-section-1 .u-form-group-12 {
  margin-left: 0;
}

.u-section-1 .u-form-group-13 {
  margin-left: 0;
}

.u-section-1 .u-form-group-14 {
  margin-left: 0;
}

.u-section-1 .u-form-group-15 {
  margin-left: 0;
}

.u-section-1 .u-form-group-16 {
  margin-left: 0;
}

.u-section-1 .u-form-group-17 {
  width: 100%;
}

.u-section-1 .u-btn-1 {
  padding: 10px 31px 10px 29px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1192px;
  }

  .u-section-1 .u-form-1 {
    width: 570px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-form-group-1 {
    margin-right: 0;
  }

  .u-section-1 .u-form-group-2 {
    margin-right: 0;
  }

  .u-section-1 .u-form-group-3 {
    margin-right: 0;
  }

  .u-section-1 .u-form-group-4 {
    margin-right: 0;
  }

  .u-section-1 .u-form-group-5 {
    margin-right: 0;
  }

  .u-section-1 .u-form-group-6 {
    margin-right: 0;
  }

  .u-section-1 .u-form-group-7 {
    margin-right: 0;
  }

  .u-section-1 .u-form-group-8 {
    margin-right: 0;
  }

  .u-section-1 .u-form-group-9 {
    margin-right: 0;
  }

  .u-section-1 .u-form-group-10 {
    margin-right: 0;
  }

  .u-section-1 .u-form-group-11 {
    margin-right: 0;
  }

  .u-section-1 .u-form-group-12 {
    margin-right: 0;
  }

  .u-section-1 .u-form-group-13 {
    margin-right: 0;
  }

  .u-section-1 .u-form-group-14 {
    margin-right: 0;
  }

  .u-section-1 .u-form-group-15 {
    margin-right: 0;
  }

  .u-section-1 .u-form-group-16 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 913px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 685px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 431px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-form-group-1 {
    width: 100%;
  }

  .u-section-1 .u-form-group-2 {
    width: 100%;
  }

  .u-section-1 .u-form-group-3 {
    width: 100%;
  }

  .u-section-1 .u-form-group-4 {
    width: 100%;
  }

  .u-section-1 .u-form-group-5 {
    width: 100%;
  }

  .u-section-1 .u-form-group-6 {
    width: 100%;
  }

  .u-section-1 .u-form-group-7 {
    width: 100%;
  }

  .u-section-1 .u-form-group-8 {
    width: 100%;
  }

  .u-section-1 .u-form-group-9 {
    width: 100%;
  }

  .u-section-1 .u-form-group-10 {
    width: 100%;
  }

  .u-section-1 .u-form-group-11 {
    width: 100%;
  }

  .u-section-1 .u-form-group-12 {
    width: 100%;
  }

  .u-section-1 .u-form-group-13 {
    width: 100%;
  }

  .u-section-1 .u-form-group-14 {
    width: 100%;
  }

  .u-section-1 .u-form-group-15 {
    width: 100%;
  }

  .u-section-1 .u-form-group-16 {
    width: 100%;
  }
}