#table1, #table4, #table3, #table0, #table2 {
  
    border: 1px solid rgba(71, 72, 74,0.6);
    border-radius:10px;
}

table{
width:100%;
text-align: center;
}
#table0{
  padding :10px;
}

td{
width:10%;
margin-left: 5px;
margin-right: 5px;
padding:1px 25px;
}
select, input[type="text"] {
  width:100%;
  box-sizing:border-box;
  display:inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 8px 8px;
  
  }

  #buttons {
    text-align: center;
  }

  #buttons button {
    padding :10px;
     width : 8%;
     border-radius: 5px;
     margin-left: 30px;
     border: 1px solid rgba(71, 72, 74,0.6);
  }

   #delete {
    background-color: rgba(199, 68, 28,0.5);
  }
  #save {
    background-color: rgba(108, 194, 97,1);
  }
  .name {
    font-size : 20px;
  }
  .plus{
    text-align: center;
    float:right;
    font-size : 30px;
    width : 30px;
    background-color:rgba(58, 156, 158,0.6);
    border-radius: 50px;
  }

  #add-interface-btn, #addip4, #addip6 {
    background-color:rgba(106, 224, 70,0.6) ;
    border-radius: 10px;
  }
  

